//there are various template engine that are used with the express PUG, EJS, HANDLEBARS Or MUSTACHE. we can also use this template engine
html 
    head 
        title = title 
    body 
        h1= message 